table,
tbody,
tr {
    width: 100%
}

tr {
    border: 1px solid #ccc;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

th {
    font-family: 'Baumans';
    font-size: 1.3em;
}

th,
td {
    padding-left: 0.6rem;
    text-align: left;
}