th {
    width: 120px;
    font-family: 'Baumans';
    font-size: 1.3em;
}

td {
    width: 180px;
}

td button {
    width: 100%;
}

tbody th,
tbody td {
    border: 1px solid #ccc;
    padding-left: 0.6rem;
    text-align: left;
}