.listing-details {
    width: 100%;
    text-align: left;
    display: grid;
    grid-template-columns: 150px 160px 240px 180px 160px 100px 80px;
    row-gap: 6px;
    justify-items: 'start';
    align-items: center;
}

.listing-details:first-of-type {
    margin-left: 0.6rem;
}

.product-listing > span {
    min-width: 130px;
    margin-right: 0.6rem;
}

@media (max-width: 1240px) {
    .listing-details {
        grid-template-columns: 150px 100px 100px;
    }
    .optional-listing { display: none }
}